Flask==2.0.1
Flask-And-Redis==1.0.0
Flask-Cors==3.0.10
Flask-JWT-Extended==3.24.1
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
Jinja2==3.0.1
marshmallow==3.12.2
greenlet==1.1.0
SQLAlchemy==1.4.21
Flask-Migrate==3.1.0
mysqlclient==2.0.3
